h1{
	text-align: center;
	font-family: 'Patrick Hand', cursive;
}

#stripe{


	padding-top: 150px;
	/*background-image: url(http://bietthubiennhatrang.net/wp-content/uploads/2015/10/bien-nha-trang.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;*/
	/*background-color: lavender;*/
}

/*body{
	background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/48840wide.jpg);
	background-repeat: no-repeat;
	/*background-size: cover;*/
	/*background-position: center;*/
	/*background-attachment: fixed;
}*/


#method{
	font-family: 'Patrick Hand', cursive;
	text-align: center;
	font-size: 30px;
	
}
 


 .navbar-fixed-top {
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand{
	color: white;
}

.navbar-nav{
	font-family: 'Acme', sans-serif;
}

.navbar-brand{
	font-family: 'Acme', sans-serif;
}

#first{

	padding-top: 100px;
	text-align: center;
}

#second{
	padding-left: 100px;
}
/* #object {
	padding-right: 700px;
} */

/* .nav navbar-nav {
	padding-left: 150px;
} */